body {
    background-color: white;
}

.login_frame {
    display: block;
    width: 460px;
    height: 325px;
    padding: 13px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;

    background-color: rgba(240, 255, 255, 0.6);

    border-radius: 10px;
    text-align: center;
    z-index: 5555;
}

/* basic style */
.close {
    /* still bad on picking color */
    background: rgba(240, 255, 255, 0.6);
    color: red;
    /* make a round button */
    border-radius: 15px;
    /* center text */
    line-height: 30px;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 22px;
    padding: 1px;
}

/* use cross as close button */
.close::before {
    content: "\2716";
}

/* place the button on top-right */
.close {
    top: -10px;
    right: -10px;
    position: absolute;
}


form p > * {
    display: inline-block;
    vertical-align: middle;
}

#image_logo {
    margin-top: 22px;
}

.label_input {
    font-size: 14px;
    font-family: 宋体;

    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: #3CD8FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    font-size: 15px;
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

.checkbox_style {
    position: relative;
    right: 58px;
    top: 5px;
}

#forget_pwd {
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: relative;
    left: 110px;
    top: 5px;

}

#remember_me {
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: relative;
    right: 62px;
    top: 5px;
}

#register_user {
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: relative;
    left: 90px;
    top: 86px;
}

#forget_pwd:hover {
    color: blue;
    text-decoration: underline;
}

#btn_login {
    font-size: 14px;
    font-family: 宋体;
    position: absolute;
    top: 272px;
    left: 160px;
    width: 165px;
    height: 35px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #3BD9FF;
    border-radius: 6px;
    border: 0;
    float: left;
}


#login_control {
    padding: 0 28px;
}

