body {
    background-color: white;
}

.login_frame {
    padding: 35px 0px 35px 0px;
    height: 400px;
    background-color: #dddddd;
}

.login_container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.login_form_container {
    margin-left: 250px;
    margin-right: 250px;
}

.login_head_font {
    text-align: center;
    font-size: 30px;
}

/* basic style */
.close {
    /* still bad on picking color */
    background: rgba(240, 255, 255, 0.6);
    color: red;
    /* make a round button */
    border-radius: 15px;
    /* center text */
    line-height: 30px;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 22px;
    padding: 1px;
}

/* use cross as close button */
.close::before {
    content: "\2716";
}

/* place the button on top-right */
.close {
    top: -10px;
    right: -10px;
    position: absolute;
}


form p > * {
    display: inline-block;
    vertical-align: middle;
}

#image_logo {
    margin-top: 22px;
}

.label_input {
    font-size: 19px;
    font-family: 宋体;

    width: 100px;
    height: 40px;
    line-height: 38px;
    text-align: center;

    color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    font-size: 15px;
    width: 350px;
    height: 40px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

.checkbox_style {
    right: 0px;
    top: 5px;
}

#forget_pwd {
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: relative;
    left: 110px;
    top: 5px;

}

#remember_me {
    font-size: 15px;
    color: black;
    text-decoration: none;
    right: -20px;
    top: 5px;
}

.login_register_user {
    height: 25px;
    margin-top: 10px;
    margin-left: 380px;
    margin-right: 50px;
}
#register_user {
    font-size: 15px;
    text-align: center;
    color: black;
}

#forget_pwd:hover {
    color: #00a0c6;
}

.login_btn_container {
    height: 40px;
    margin-left: 150px;
    margin-right: 150px;
}

.login_register_user:hover {
    color: #00a0c6;
}

#btn_login {
    font-size: 16px;
    font-family: 宋体;
    width: 200px;
    height: 38px;
    line-height: 28px;
    text-align: center;
    color: black;
    background-color: #3BD9FF;
    border-radius: 6px;
    border: 0;
    float: left;
}

#login_control {
    height: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0 28px;
}

