body {
    background-color: white;
}

.reg_base {
    padding: 35px 0px 35px 0px;
    height: 500px;
    background-color: #dddddd;
}

.reg_container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.reg_form_container {
    margin-left: 250px;
    margin-right: 250px;
}

.reg_text {
    font-size: 30px;
    text-align: center;
}

.reg_input {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
}

.reg_label_input {
    font-size: 17px;
    font-family: 宋体;
    width: 100px;
    height: 38px;
    line-height: 35px;
    text-align: center;
    color: black;
}

.reg_text_field {
    font-size: 15px;
    width: 300px;
    height: 38px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

.reg_yanzhengma_con {
    margin-left: 130px;
    margin-right: 130px;
}

.reg_text_yanzhengma {
    font-size: 15px;
    width: 130px;
    height: 38px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

.reg_btn_con {
    margin-left: 165px;
    margin-right: 165px;
}


.reg_btn_login {
    font-size: 16px;
    font-family: 宋体;
    top: 83%;
    left: 32%;
    width: 165px;
    height: 35px;
    line-height: 28px;
    text-align: center;
    color: black;
    background-color: #3BD9FF;
    /*background-color: rgba(240, 255, 255, 0.5);*/
    border-radius: 6px;
    border: 0;
}

.reg_image_size {
    width: 80px;
    height: 40px;
}

/* basic style */
.reg_close {
    /* still bad on picking color */
    background: rgba(240, 255, 255, 0.5);
    color: red;
    /* make a round button */
    border-radius: 15px;
    /* center text */
    line-height: 30px;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 22px;
    padding: 1px;
}

/* use cross as close button */
.reg_close::before {
    content: "\2716";
}

/* place the button on top-right */
.reg_close {
    top: -10px;
    right: -10px;
    position: absolute;
}