.user_frame {
    padding: 35px 0px 35px 0px;
    height: 400px;
    background-color: #dddddd;
}

.user_container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.user_head_font {
    text-align: center;
    font-size: 30px;
}

.user_input {
    font-size: 19px;
    font-family: 宋体;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    line-height: 38px;
    text-align: center;

    color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}