<!DOCTYPE html>
<html lang="en">
<link href="/static/image/login/favicon.ico" rel="icon" type="image/x-icon"/>
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <!-- 消息闪现 -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes" id="flashes">
        {% for message in messages %}
        <div>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block css_file %}
    <link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    {% endblock %}
</head>
<body onclick="fade()" class="bgimage">
<div class="header">
    <div class="nav_image">
        <img src="/static/image/home/fly.png">
    </div>
    <ul class="menu">
        <li class="nav"><a href="/">首页</a></li>
        <li class="nav"><a href="/">产品</a></li>
        {% if current_user.is_authenticated %}
        <li class="nav user"><a href="/user/{{ current_user.id }}">Hi!{{ current_user.username }}</a></li>
        <li class="nav log"><a href="/logout">LOG OUT</a></li>
        {% else %}
        <li class="nav log"><a href="javascript:;" onclick="showBorderLog()">登录</a></li>
        <div id="content_log" class="light_content users">
            {% block form_content %}


            {% endblock %}
        </div>

        {% endif %}


        <li class="nav"><a href="/login" onclick="showLogin()">登录</a></li>
        <li class="nav"><a href="/">下载</a></li>
        <li class="nav"><a href="/">联系我们</a></li>
    </ul>

</div>

</body>
</html>