<!DOCTYPE html>
<html lang="en">
<link href="/static/image/login/favicon.ico" rel="icon" type="image/x-icon"/>
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <!-- 消息闪现 -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes" id="flashes">
        {% for message in messages %}
        <div>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block css_file %}
    <link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
    {% endblock %}
</head>
<body onclick="fade()" class="bgimage">
<div class="header">
    <div class="nav_image">
        <img src="/static/image/home/fly.png">
    </div>

</div>

</body>
</html>