{% extends 'base.html' %}

{% block css_file %}
<link rel="stylesheet" type="text/css" href="/static/css/register.css"/>
{% endblock %}


{% block page_content %}

<div id="register" class="reg_base">
    <div class="reg_container">
        <p class="reg_text">注册用户</p>
        <div class="reg_form_container">
            <form method="post">
                <p class="reg_input">{{
                    form.username.label(class="reg_label_input")}}{{form.username(class="reg_text_field")}}</p>
                <p class="reg_input">{{
                    form.user_email.label(class="reg_label_input")}}{{form.user_email(class="reg_text_field")}}</p>
                <p class="reg_input">{{
                    form.password.label(class="reg_label_input")}}{{form.password(class="reg_text_field")}}</p>
                <p class="reg_input">{{
                    form.password1.label(class="reg_label_input")}}{{form.password1(class="reg_text_field")}}</p>
                <p class="reg_yanzhengma_con">
                    <label class="reg_font"><img class="reg_image_size"
                                                 src="/static/image/login/yanzhengma.jpg"></label>
                    {{ form.verification_code(class="reg_text_yanzhengma")}}
                </p>
                <p class="reg_btn_con">{{ form.submit(class="reg_btn_login") }}</p>
            </form>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

{% endblock %}

