{% extends 'base.html' %}

{% block css_file %}
<link rel="stylesheet" type="text/css" href="/static/css/user.css"/>
{% endblock %}


{% block page_content %}
<div class="user_frame">
    <div class="user_container">
        <p class="user_head_font">{{ user.username }} 账户详细信息</p>
        {% if user.user_type == 0 %}
        <p class="user_input">账户类型: 普通账户</p>
        {% elif user.user_type == 1 %}
        <p class="user_input">账户类型: 教师</p>
        {% elif user.user_type == 2 %}
        <p class="user_input">账户类型: 管理员</p>
        {% endif %}
        <p class="user_input">使用时间: {{ user.use_time }} (单位天)</p>
        <p class="user_input">使用流量: {{ user.use_flow }} (单位M)</p>
        {% if user.online_type == 0 %}
        <p class="user_input">在线状态: 不在线</p>
        {% elif user.online_type == 1 %}
        <p class="user_input">在线状态: 在线</p>
        {% endif %}
    </div>
</div>
{% endblock %}
